---
import Layout from "../../../layouts/Layout.astro";

import GameStep from "../../../components/GameStep.astro";
import { STYLES } from "../../../constants";
import { addGamePrivateTokenToCookies, fetchGameByPrivateToken, getGamePublicUrl } from "../../../services/games";

const game = await fetchGameByPrivateToken(String(Astro.params.private_token));

if (!game) {
  return new Response("Game not found", {
    status: 404,
    statusText: "Not found",
  });
}

addGamePrivateTokenToCookies(game, Astro.cookies);

const publicUrl = getGamePublicUrl(game);

const publicAbsoluteUrl = new URL(Astro.request.url);
publicAbsoluteUrl.pathname = publicUrl;

const title = `Game: ${game.name}`;
---

<Layout title={title}>
  <h1 class={STYLES.h1}>{title}</h1>
  <div class="mb-3">
    <GameStep game={game} />
  </div>
  <a class="link" target="_blank" href={publicUrl}>{publicAbsoluteUrl}</a>
  <a class="link" href="/">Go back</a>
</Layout>
