<h1>Admin</h1>
<div class="grid">
  <section>
    <h2></h2>
    <h2><%= User.model_name.human count: @users.size %> <span class="badge"><%= @users.size %></span></h2>
    <table class="card__description">
      <tr>
        <th><%= User.human_attribute_name("email") %></th>
        <th><%= User.human_attribute_name("created_at") %></th>
        <th><%= Game.model_name.human count: 2 %></th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.created_at %></td>
          <td>
            <ul>
              <% user.games.each do |game| %>
                <li><%= game.name %><br/>
                  (<%= game.players.size %> <%= Player.model_name.human count: game.players.size %>)</li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    </table>
  </section>
</div>
