---
import GameRegisterForm from "../../components/GameRegisterForm.astro";
import { STYLES } from "../../constants";
import Layout from "../../layouts/Layout.astro";

import { addGamePrivateTokenToCookies, fetchGameByPublicToken } from "../../services";

const game = await fetchGameByPublicToken(String(Astro.params.public_token));

if (!game) {
  return new Response("Game not found", {
    status: 404,
    statusText: "Not found",
  });
}

addGamePrivateTokenToCookies(game, Astro.cookies);

const title = `Game: ${game.name}`;
---

<Layout title={title}>
  <h1 class={STYLES.h1}>{title}</h1>
  <p>Join this game</p>
  <GameRegisterForm game={game} />
  <a href="/">Go back</a>
</Layout>
