---
import Layout from "../../layouts/Layout.astro";
import { fetchGameBy, getGamePublicUrl } from "../../services/games";

import { fetchPlayerByPublicToken } from "../../services/player";

const player = await fetchPlayerByPublicToken(Astro.params.public_token);

const game = await fetchGameBy("id", player.game_id);

const gamePublicUrl = getGamePublicUrl(game);

const title = `👋 Hello ${player.name}`;
---

<Layout title={title}>
  <h1>{title}</h1>

  <p>You're part of the game: <a href={gamePublicUrl}>{game.name}</a></p>

  <a href="/">Go back</a>
</Layout>
