<%

players = [
  Player.new(name: "Bob"),
  Player.new(name: "Alice"),
  Player.new(name: "Luc"),
  Player.new(name: "Fred"),
]

actions = I18n.t('game.default_fields.actions')

cards = [
  Card.new(player: players[0], target: players[1], action: actions[0]),
  Card.new(player: players[1], target: players[2], action: actions[1]),
  Card.new(player: players[2], target: players[3], action: actions[2]),
  Card.new(player: players[3], target: players[0], action: actions[3]),
]
cards.map{|card| card.done_at = Time.now}


@exemple1 = [
  { player: players[0], cards: [], current: cards[0] },
  { player: players[1], cards: [], current: cards[1] },
  { player: players[2], cards: [], current: cards[2] },
  { player: players[3], cards: [], current: cards[3] },
]

@exemple2 = [
  { player: players[0], cards: [], current: cards[0] },
  { player: players[1], cards: [cards[1]], current: cards[2], rank: 1 },
  { player: players[3], cards: [], current: cards[3] },
]

@exemple3 = [
  { player: players[0], cards: [cards[0], cards[1]], current: cards[2], rank: 1 },
  { player: players[3], cards: [], current: cards[3] },
]

@exemple4 = [
  { player: players[3], cards: [cards[0], cards[1], cards[2]], current: nil, rank: 1 },
]
%>
<%# <input id="game-example__step" type="range" min="1" max="4" value="1" step="1" id="myRange" /> %>
<div id="game-example">
  <div data-step="1" class="grid game-example__step">
    <div>
      <h3>Etape 1/4: Début de partie</h3>
      <p>Tu crée ta partie en renseignant les joueurs et les actions. Chaque joueur se voit attribuer une carte.</p>
      <p><%= card_will_do_sentence @exemple1[1] %></p>
      <p>
        <a href="#" onclick="toggleNextGameExemple(event)" data-step="2">Etape suivante</a>
      </p>
    </div>
    <div>
      <%= render 'games/dashboard2', dashboard: @exemple1, readonly: true %>
    </div>
  </div>
  <div data-step="2" class="grid mb-2 game-example__step">
    <div>
      <h3>Etape 2/4: Premier meurte</h3>
      <p><%= card_done_sentence @exemple1[1] %> Il récupère donc sa carte et sa nouvelle cible devient <%= @exemple1[2][:current].target.name %></p>
      <p><%= card_will_do_sentence @exemple2[0] %></p>
      <p>
        <a href="#" onclick="toggleNextGameExemple(event)" data-step="1">Etape précédente</a> |
        <a href="#" onclick="toggleNextGameExemple(event)" data-step="3">Etape suivante</a>
      </p>
    </div>
    <div>
      <%= render 'games/dashboard2', dashboard: @exemple2, readonly: true %>
    </div>
  </div>
  <div data-step="3" class="grid mb-2 game-example__step">
    <div>
      <h3>Etape 3/4: Second meurte</h3>
      <p><%= card_done_sentence @exemple2[0] %></p>
      <p>Par conséquent, il remporte TOUTES les cartes de <%= @exemple2[0][:current].target.name %>, incluant celles qu'il avait gagné auparavant.</p>
      <p><%= card_will_do_sentence @exemple3[1] %></p>
      <p>
        <a href="#" onclick="toggleNextGameExemple(event)" data-step="2">Etape précédente</a> |
        <a href="#" onclick="toggleNextGameExemple(event)" data-step="4">Etape suivante</a>
      </p>
    </div>
    <div>
      <%= render 'games/dashboard2', dashboard: @exemple3, readonly: true %>
    </div>
  </div>
  <div data-step="4" class="grid mb-2 game-example__step">
    <div>
      <h3>Etape 4/4: Fin de la partie</h3>
      <p><%= card_done_sentence @exemple3[1] %></p>
      <p>Il reste le seul joueur en vie. Il gagne donc la partie.</p>
      <p>
        <a href="#" onclick="toggleNextGameExemple(event)" data-step="3">Etape précédente</a>
      </p>
    </div>
    <div>
      <%= render 'games/dashboard2', dashboard: @exemple4, readonly: true %>
    </div>
  </div>
</div>
<script>
  function displayStep(step) {
    document.querySelectorAll(`.game-example__step`).forEach(el => el.classList.add('hide'));
    document.querySelector(`.game-example__step[data-step="${step}"]`).classList.remove('hide')
  }

  function toggleNextGameExemple (event) {
    event.preventDefault();
    const step = event.target.getAttribute('data-step');
    displayStep(step);
  }

  displayStep(1)
</script>
