<h2><%= t 'pages._how_does_it_work.title' %></h2>
<div class="grid">
  <section>
    <p><%= t 'pages._how_does_it_work.i_made_it' %></p>
    <p><%= t 'pages._how_does_it_work.its_hard' %></p>
    <p><%= t 'pages._how_does_it_work.this_app_allow_you_that' %></p>
    <div class="flex">
      <%= link_to t('games.new.title'), new_game_path, role: "button" %>
      <%= link_to t('pages.help.title'), help_path, role: "button", class: "secondary outline" %>
    </div>
  </section>
  <section>
    <div class="card">
      <%= render 'game_example' %>
    </div>
  </section>
</div>
