<section class="grid home home-first">
  <div class="mb-2">
    <h1><%= t('.title') %><br />
      <small><%= t('.title_small') %></small></h1>
    <p><%= t('.you_are_on_the_right_place') %></p>
    <div class="flex">
      <%= link_to t('games.new.title'), new_game_path, role: "button" %>
      <%= link_to t('pages.help.title'), help_path, role: "button", class: "secondary outline" %>
    </div>
  </div>
  <div class="balloons webpage-screenshot">
    <%= render 'shared/balloon', content: t('.balloons_example')[0], left: true %>
    <%= render 'shared/balloon', content: t('.balloons_example')[1], right: true %>
    <%= render 'shared/balloon', content: t('.balloons_example')[2], left: true %>
    <%= render 'shared/balloon', content: t('.balloons_example')[3], right: true %>
  </div>
</section>
<hr />
<section>
  <%= render 'pages/how_does_it_work' %>
</section>
<hr />
<section>
  <h2><%= t 'pages._how_does_it_work.how_does_it_work' %></h2>
  <ol class="how-does-it-work-steps">
    <% t('pages._how_does_it_work.steps').each do |step| %>
      <li class="how-does-it-work-steps__step">
        <span class="how-does-it-work-steps__step__icon"><%= step[:icon] %></span>
        <span class="how-does-it-work-steps__step__title"><%= step[:title] %></span>
        <span class="how-does-it-work-steps__step__description"><%= step[:description] %></span>
      </li>
    <% end %>
  </ol>
</section>
<% if false %>
  <hr/>
  <section>
    <h2><%= t('.h2_pricing') %></h2>
  </section>
<% end %>
