<%
 remaining_player = game.cards.reject(&:done_at).size
 podium = get_podium game.cards
%>
<% if remaining_player == game.cards.size %>
  <p><%= t 'all_players_are_alive', count: remaining_player %></p>
<% elsif remaining_player == 1 %>
  <p><%= t 'game_over' %> 😭</p>
<% else %>
  <p><%= t 'there_is_x_players_alive', remaining_player: remaining_player, count: game.cards.size %></p>
  <progress value="<%= game.cards.filter(&:done_at).size %>" max="<%= game.cards.size %>"></progress>
<% end %>
<div class="grid">
  <article>
    <header>⏳ <%= t 'last_cards_events' %></header>
    <%= render "cards/events", cards: @cards_done %>
  </article>
  <article>
    <header>🏆 <%= t 'podium' %></header>
    <% if podium.size %>
      <ul>
        <li><strong>🥇 <%= t 'podium_first' %>:</strong> <%= pluralize podium[0], t('victim.one'), t('victim.other') %></li>
        <% if podium[1] %>
          <li><strong>🥈 <%= t 'podium_second' %>:</strong> <%= pluralize podium[1], t('victim.one'), t('victim.other') %></li>
        <% end %>
        <% if podium[2] %>
          <li><strong>🥉 <%= t 'podium_third' %>:</strong> <%= pluralize podium[2], t('victim.one'), t('victim.other') %></li>
        <% end %>
      </ul>
    <% else %>
      <p><%= t 'everything_is_calm' %></p>
    <% end %>
  </article>
</div>
<h2><%= t 'faq.title' %></h2>
<%= render 'games/faq' %>
