<div class="player-cards">
  <% dashboard.each do |row| %>
    <div class="player-cards__player">
      <p><strong><%= row[:player].name %></strong> <%= rank_to_icon row[:rank] %> <%= edit_player_link(row[:player]) unless defined?(readonly) && readonly %>
        <% if row[:player].description %>
          <br />
          <%= row[:player].description %>
        <% end %>
      </p>
    </div>
    <% if row[:cards].size > 0 %>
      <details class="player-cards__actions-done">
        <summary class="badge"><strong><%= row[:cards].size %></strong> kills <%= '💀' * row[:cards].size %></summary>
        <div class="player-cards__actions-done__content">
          <% row[:cards].each do |card| %>
            <div class="player-cards__action player-cards__action--done">
              <p><%= card.action %> -- Fait à <%= format_time card.done_at %></p>
              <% unless defined?(readonly) && readonly %>
                <p><%= public_card_link card %></p>
              <% end %>
            </div>
            <!-- dead player -->
            <div class="player-cards__player">
              <p><%= card.target.name %></p>
            </div>
          <% end %>
        </div>
      </details>
    <% end %>
    <% if row[:current] %>
      <%# current is not set when user finished game %>
      <div class="player-cards__action">
        <p><%= row[:current].action %></p>
        <% unless defined?(readonly) && readonly %>
          <p>
            <%= public_card_link row[:current] %> |
            <%= edit_card_link row[:current] %>
          </p>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <%# display first player again %>
  <% if dashboard.size > 1 %>
    <div class="player-cards__player">
      <p><strong><%= dashboard[0][:player].name %></strong> <%= rank_to_icon dashboard[0][:rank] %>
        <% if dashboard[0][:player].description %>
          <br />
          <%= dashboard[0][:player].description %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
<% if false %>
  <hr />
  <div class="player-cards">
    <div class="player-cards__player">
      <p><strong>Alexandre R.</strong> 🥇<br />
        danse pas très bien</p>
    </div>
    <details class="player-cards__actions-done">
      <summary class="badge">💀💀 <strong>2</strong> kills</summary>
      <div class="player-cards__actions-done__content">
        <div class="player-cards__action player-cards__action--done">
          <p>Boire un shooter -- Fait à 12:00</p>
        </div>
        <!-- dead player -->
        <div class="player-cards__player">
          <p>Alexandre R.</p>
        </div>
        <div class="player-cards__action player-cards__action--done">
          <p>Boire un shooter -- Fait à 12:00</p>
        </div>
        <!-- dead player -->
        <div class="player-cards__player">
          <p>Alexandre R.</p>
        </div>
      </div>
    </details>
    <div class="player-cards__action">
      <p>Boire un shooter</p>
      <p><a href="#">modifier</a> | <a href="#">voir la carte</a></p>
    </div>
    <div class="player-cards__player">
      <p>Alexandre R.</p>
    </div>
    <details class="player-cards__actions-done">
      <summary class="badge">💀 <strong>1</strong> kill</summary>
      <div class="player-cards__actions-done__content">
        <div class="player-cards__action player-cards__action--done">
          <p>Boire un shooter -- Fait à 12:00</p>
        </div>
        <!-- dead player -->
        <div class="player-cards__player">
          <p>Alexandre R.</p>
        </div>
      </div>
    </details>
    <div class="player-cards__action">
      <p>Faire dancer</p>
      <p><a href="#">modifier</a> | <a href="#">voir la carte</a></p>
    </div>
    <div class="player-cards__player">
      <p>Alexandre R.</p>
    </div>
  </div>
<% end %>
