<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :players %>
    <%= form.text_area :players, rows: 10 %>
    <small>Un élement par ligne, c'est aussi simple que ça.<br/>
      Pour faciliter le jeu, tu peux ajouter une petite description (Exemple: "Alexandre, un blond qui passe sont temps à boire des bières.")</small>
  </div>
  <div>
    <%= form.label :actions %>
    <%= form.text_area :actions, rows: 10 %>
    <small>Un élement par ligne, c'est aussi simple que ça.</small>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
