<%= form_with(model: game) do |form| %>
  <% if game.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>
      <ul>
        <% game.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :actions %>
    <%= form.text_area :actions, rows: 10 %>
    <small><%= t 'game_form.actions_help' %></small>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<script>
  function sufflePlayer() {
    var playersInput = document.getElementById('game_players')

    playersInput.value = playersInput.value.split('\n').sort(() => Math.random() - 0.5).join('\n')
  }
</script>
