<nav class="game-navbar">
  <% if game.token %>
    <%= link_to game_dashboard_path(game.token), class: "game-navbar__item" do %>
      <span class="game-navbar__item__icon">📊</span><%= t 'games.dashboard.title' %>
    <% end %>
  <% end %>
  <%= link_to game_cards_path(game.id), class: "game-navbar__item"  do %>
    <span class="game-navbar__item__icon">🃏</span>
    <span><%= t 'cards.index.title' %></span>
    <span class="badge"><%= game.cards.count%></span>
  <% end %>
  <%= link_to game_players_path(game_id: game.id), class: "game-navbar__item"  do %>
    <span class="game-navbar__item__icon">🎩</span>
    <span><%= t 'players.index.title' %></span>
    <span class="badge"><%= game.players.count %></span>
  <% end %>
  <%= link_to edit_game_path(game), class: "game-navbar__item"  do %>
    <span class="game-navbar__item__icon">🖊</span>
    <span><%= t 'games.edit.title' %></span>
  <% end %>
</nav>
