<h1>Games</h1>
<table>
  <tr>
    <th>Nom</th>
    <th>Joueurs / actions</th>
    <th>Mis à jour le</th>
  </tr>
  <% @games.each do |game| %>
    <tr>
      <td><%= link_to game.name, game %></td>
      <td>
        <ul>
          <li><%= game.players_list.size %> joueurs</li>
          <li><%= game.actions_list.size %> actions</li>
        </ul>
      </td>
      <td><%= game.updated_at %></td>
    </tr>
  <% end %>
</table>
<%= link_to "New game", new_game_path, role: :button %>
