<h1><%= @game.name %></h1>
<details open>
  <summary>Cartes</summary>
  <table>
    <tr>
      <th></th>
      <th>Joueur</th>
      <th>Action</th>
      <th>Cible</th>
      <th>Actions</th>
    </tr>
    <tr>
      <% @game.cards.each do |card| %>
        <td><%= render "cards/form", card: card %></td>
        <td><%= card.player %></td>
        <td><%= card.action %></td>
        <td><%= card.target %></td>
        <td>
          <%= link_to 'Lien du killer', game_card_path(game_id: card.game_id, id: card.token) %>
        </td>
      </tr>
    <% end %>
  </table>
</details>
<details>
  <summary>Joueurs</summary>
  <div class="grid">
    <div>
      <p>Joueurs encore en vie</p>
      <ul>
        <% @game.alive_players_list.each do |player| %>
          <li><%= player %></li>
        <% end %>
      </ul>
    </div>
    <div>
      <p>Joueurs décédés</p>
      <ul>
        <% @game.dead_players_list.each do |player| %>
          <li><del><%= player %></del></li>
        <% end %>
      </ul>
    </div>
  </div>
</details>
<details>
  <summary>Actions</summary>
  <ul>
    <% @actions.each do |action| %>
      <li><%= action %></li>
    <% end %>
  </ul>
</details>
<% if @game.started? %>
  <details open>
    <summary>Evenements</summary>
    <%= render "cards/events", cards: @cards_done %>
  </details>
<% end %>
<details>
  <summary>Actions</summary>
  <div class="buttons">
    <%= link_to '🃏 Générer les cartes', game_cards_path(@game.id), role: :button %>
    <%= link_to "✏ Edit this game", edit_game_path(@game), role: :button %>
    <%= button_to "🗑 Supprimer l'évenement", @game, method: :delete, role: :button %>
    <%= link_to "📊 Dashboard", game_dashboard_path(@game.token), role: :button %>
  </div>
</details>
