<h1><%= @game.name %></h1>
<div class="mb-2">
  <%= render 'games/dashboard2', dashboard: @game.get_dashboard2 %>
</div>
<% if @game.started? %>
  <details open>
    <summary>⏳ <%= t 'cards_events' %></summary>
    <%= render "cards/events", cards: @cards_done %>
  </details>
<% else %>
  <details <%= @game.can_start? ? '' : 'open' %>>
    <summary><%= t('players.new.title') %></summary>
    <%= render "players/form", player: @player %>
  </details>
<% end %>
<%= render "games/start_button", game: @game %>
<details>
  <summary>⚠️ <%= t 'cards_dangerous_actions' %></summary>
  <div class="buttons">
    <%= button_to "🗑 #{t 'games.destroy.title'}", @game, method: :delete, role: :button, class: "secondary outline" %>
  </div>
</details>
