<%= render 'games/navbar', game: @game %>
<h1><%= @game.name %></h1>
<%= render "games/start_button", game: @game %>
<details>
  <summary>📊 <%= t 'games.dashboard.title' %></summary>
  <%= render 'games/private_dashboard', game: @game %>
</details>
<% if @game.started? %>
  <details open>
    <summary>⏳ <%= t 'cards_events' %></summary>
    <%= render "cards/events", cards: @cards_done %>
  </details>
<% end %>
<details>
  <summary>⚠️ <%= t 'cards_dangerous_actions' %></summary>
  <div class="buttons">
    <%= button_to "🗑 #{t 'games.destroy.title'}", @game, method: :delete, role: :button, class: "secondary outline" %>
  </div>
</details>
