<h1><%= @game.name %></h1>
<div class="mb-2">
</div>
<div class="grid">
  <%# settings %>
  <div>
    <h2><%= t 'game_show.configuration' %></h2>
    <details <%= @game.can_start? ? '' : 'open' %>>
      <summary>➕ <%= t('players.new.title') %></summary>
      <% if @game.started? %>
        <p>⚠️ <%= t('game_show.cant_edit_because_started') %></p>
      <% else %>
        <%= render "players/form", player: @player %>
      <% end %>
    </details>
    <details>
      <summary>🖊 <%= t 'games.edit.title' %></summary>
      <% if @game.started? %>
        <p>⚠️ <%= t('game_show.cant_edit_because_started') %></p>
      <% else %>
        <%= render "games/form", game: @game %>
      <% end %>
    </details>
    <details>
      <summary>▶️ <%= t 'game_show.actions_buttons' %></summary>
      <%= render "games/start_button", game: @game %>
      <%= button_to "🗑 #{t 'games.destroy.title'}", @game, method: :delete, role: :button, class: "form-as-link" %>
    </details>
  </div>
  <%# game state %>
  <div>
    <h2><%= t 'game_show.state' %></h2>
    <% if @game.players.size > 0 %>
      <%= render 'games/dashboard2', dashboard: @game.get_dashboard2 %>
    <% else %>
      <p>⚠️ <%= t('game_show.no_enough_players') %></p>
    <% end %>
  </div>
</div>
<% if @game.started? %>
  <details open>
    <summary>⏳ <%= t 'cards_events' %></summary>
    <%= render "cards/events", cards: @cards_done %>
  </details>
<% end %>
