<h1><%= @game.name %></h1>
<div class="grid">
  <%# settings %>
  <div>
    <% if @game.started? %>
      <h2><%= t 'games.show.state' %></h2>
      <details open>
        <summary>⏳ <%= t 'cards_events' %></summary>
        <%= render "cards/events", cards: @cards_done %>
      </details>
    <% else %>
      <h2><%= t 'games.show.configuration' %></h2>
      <details <%= @game.can_start? ? '' : 'open' %>>
        <summary>➕ <%= t('players.new.title') %></summary>
        <% if @game.started? %>
          <p>⚠️ <%= t('games.show.cant_edit_because_started') %></p>
        <% else %>
          <%= render "players/form", player: @player %>
        <% end %>
      </details>
      <details>
        <summary>🖊 <%= t 'games.edit.title' %></summary>
        <% if @game.started? %>
          <p>⚠️ <%= t('games.show.cant_edit_because_started') %></p>
        <% else %>
          <%= render "games/form", game: @game %>
        <% end %>
      </details>
    <% end %>
    <details>
      <summary>▶️ <%= t 'games.show.actions_buttons' %></summary>
      <%= render "games/start_button", game: @game %>
      <%= link_to "🖨️ #{t 'cards.index.title'}", game_cards_path(game_id: @game.id, format: 'pdf'), role: :button, style: "display: block", class: "secondary" %>
      <%= button_to "🗑 #{t 'games.destroy.title'}", @game, method: :delete, role: :button, class: "form-as-link" %>
    </details>
  </div>
  <%# game state %>
  <div>
    <h2><%= Card.model_name.human count: 2 %> <span class="badge"><%= @game.cards.count%></span></h2>
    <% if @game.players.size > 0 %>
      <%= render 'games/dashboard2', dashboard: @game.get_dashboard2, readonly: @game.started?, admin_mode: true %>
    <% else %>
      <p>⚠️ <%= t('games.show.no_enough_players') %></p>
    <% end %>
  </div>
</div>
