<div class="grid">
  <h1><%= Game.model_name.human %>: <%= @game.name %></h1>
  <nav>
    <ul style="flex-grow: 1; justify-content: flex: end;">
      <li><%= link_to "ðŸƒ #{t 'cards.index.title'}", game_cards_path(@game.id), data: {turbolinks: false} %></li>
      <li><%= link_to "ðŸ“Š #{t 'games.dashboard.title'}", game_dashboard_path(@game.token) if @game.token %></li>
      <% unless @game.started? %>
        <li><%= link_to "âœ #{t 'games.edit.title'}", edit_game_path(@game), class: "secondary"  %></li>
      <% end %>
    </ul>
  </nav>
</div>
<details open>
  <summary><%= Card.model_name.human(count: @cards_in_table) %></summary>
  <%= render 'cards/table', cards: @cards_in_table, players_list: @game.players_list.sort, actions_list: @game.actions_list.sort %>
</details>
<details>
  <summary><%= Game.human_attribute_name("players") %></summary>
  <div class="grid">
    <div>
      <p><%= t 'players_alive' %></p>
      <ul>
        <% @game.alive_players_list.each do |player| %>
          <li><%= render 'games/player', player: player %></li>
        <% end %>
      </ul>
    </div>
    <div>
      <p><%= t 'players_dead' %></p>
      <ul>
        <% @game.dead_players_list.each do |player| %>
          <li><del><%= render 'games/player', player: player %></del></li>
        <% end %>
      </ul>
    </div>
  </div>
</details>
<details>
  <summary><%= Game.human_attribute_name("actions") %></summary>
  <ul>
    <% @actions.each do |action| %>
      <li><%= action %></li>
    <% end %>
  </ul>
</details>
<% if @game.started? %>
  <details open>
    <summary><%= t 'cards_events' %></summary>
    <%= render "cards/events", cards: @cards_done %>
  </details>
<% end %>
<details>
  <summary><%= t 'cards_actions' %></summary>
  <div class="buttons">
    <%= link_to "ðŸƒ #{t 'cards.index.title'}", game_cards_path(@game.id), role: :button %>
    <%= link_to "ðŸ“Š #{t 'games.dashboard.title'}", game_dashboard_path(@game.token), role: :button if @game.token %>
    <%= link_to "âœ #{t 'games.edit.title'}", edit_game_path(@game), role: :button, class: "secondary" unless @game.started? %>
  </div>
</details>
<details>
  <summary>âš  <%= t 'cards_dangerous_actions' %></summary>
  <div class="buttons">
    <%= link_to "âœ #{t 'games.edit.title'}", edit_game_path(@game), role: :button, class: "secondary" if @game.started? %>
    <%= button_to "ðŸ—‘ #{t 'games.destroy.title'}", @game, method: :delete, role: :button, class: "secondary outline" %>
  </div>
</details>
