<%= form_with(model: [@game, player]) do |form| %>
  <% if player.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>
      <ul>
        <% player.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
    <small><%= t('player_form.email_help') %></small>
  </div>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
    <small><%= t('player_form.name_help') %></small>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
    <small><%= t('player_form.description_help') %></small>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
