<article>
  <header>
    <% if player.dead? %>
      💀 <del><%= player.pretty %></del>
    <% else %>
      <%= player.pretty %>
    <% end %>
  </header>
  <p><%= pluralize player.done_cards.size, t('victim.one'), t('victim.other') %></p>
  <ul>
    <% player.done_cards.each do |card| %>
      <li><strong><%= format_time card.done_at %></strong>: <%= card.target.pretty %>: <%= card.action %></li>
    <% end %>
  </ul>
  <footer>
    <%= player_link player %>
  </footer>
</article>
