<h1>👋 <%= t('.title') %>: <%= @player.name %></h1>
<%= link_to game_path(@game.id), role: :button  do %>
  <%= t 'games.show.title' %> <mark><%= t 'admin' %></mark>
<% end if is_admin? @game %>
<div class="grid">
  <article>
    <header>🎯 <%= t '.current_card' %></header>
    <% if @current_card %>
      <ul>
        <li><strong><%= Card.human_attribute_name("action") %>:</strong> <%= @current_card.action %></li>
        <li><strong><%= Card.human_attribute_name("target") %>:</strong> <%= @current_card.target.pretty %></li>
      </ul>
      <%= render 'cards/done_button', card: @current_card, player: @player %>
    <% else %>
      <p>💀 <%= t('.you_re_dead') %></p>
    <% end %>
  </article>
  <% if @kill_cards.size > 0 %>
    <article>
      <header>💀 <%= t '.kills' %></header>
      <%= render 'cards/events', cards: @kill_cards, display_secrets: true %>
    </article>
  <% end %>
</div>
<% if false %>
  <h2>🎉 <%= t '.done' %></h2>
  <p><%= t 'cards.show.well_done' %></p>
  <p><%= t('cards.show.after_done_instructions', target: @card.target.pretty).html_safe %></p>
  <div class="grid">
    <div style="padding-top:56.250%;position:relative;"><iframe src="https://gifer.com/embed/<%= weel_done_giffer_id %>" width="100%" height="100%" style='position:absolute;top:0;left:0;' frameBorder="0" allowFullScreen></iframe></div>
    <%= render 'cards/card', card: @card %>
  </div>
<% end %>
<h2><%= t '.where_the_game_is_at' %></h2>
<%= render 'games/dashboard', game: @game %>
<%= link_to t('refresh_this_page'), player_dashboard_path(token: @player.token) %>
