<header class="title-breadcrumb">
  <h1><%= game_link @game %> / <%= @title %></h1>
  <%= render 'games/navbar', game: @game %>
</header>
<%= render 'players/table', players: @players %>
<details>
  <summary><%= t('players.new.title') %>
  </summary>
  <%= render "form", player: @player %>
</details>
