<nav class="breadcrumb">
  <ul>
    <li><%= games_link %></li>
    <li><%= link_to @game.name, @game %></li>
    <li><%= @title %></li>
  </ul>
</nav>
<h1><%= @title %></h1>
<%= render 'players/table', players: @players %>
<details>
  <summary><%= t('players.new.title') %>
  </summary>
  <%= render "form", player: @player %>
</details>
