<h1><%= game_link @game %> / <%= t('.title') %></h1>
<div class="my-grid">
  <% @players.each do |player| %>
    <div class="col-xs-12 col-md-6 col-lg-4">
      <%= render 'players/card_admin', player: player %>
    </div>
  <% end %>
</div>
<details>
  <summary><%= t('players.new.title') %>
  </summary>
  <%= render "form", player: @player %>
</details>
