<div id="<%= dom_id card %>">
  <p>
    <strong>Game:</strong>
    <%= card.game_id %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= card.player %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= card.target %>
  </p>

  <p>
    <strong>Action:</strong>
    <%= card.action %>
  </p>

</div>
