<%= form_with(model: card, url: game_card_path(game_id: card.game_id, id: card.id), remote: true) do |form| %>
  <div class="grid">
    <div>
      <%= form.label :player %>
      <%= form.text_field :player, disabled: true, value: card.player.pretty %>
    </div>
    <div>
      <%= form.label :target %>
      <%= form.text_field :target, disabled: true, value: card.target.pretty %>
    </div>
  </div>
  <%= form.label :action %>
  <%= form.select :action, options_for_select(card.game.get_actions_list, card.action) %>
  <fieldset>
    <%= form.label :done_at do %>
      <%= form.check_box :done_at, checked: !card.done_at.nil? %>
      <span><%= t 'cards._form.done_at' %></span>
    <% end %>
  </fieldset>
  <%= form.submit  %>
<% end %>
