<%= form_with(model: card, url: game_card_path(game_id: card.game_id, id: card.token), remote: true) do |form| %>
  <div class="grid">
    <div>
      <%= form.label :player %>
      <%= form.text_field :player, disabled: true %>
    </div>
    <div>
      <%= form.label :target %>
      <%= form.text_field :target, disabled: true %>
      <small><%= t 'card_form.target_help' %> <%= link_to t('games.edit.title'), edit_game_path(card.game_id) %></small>
    </div>
  </div>
  <%= form.label :action %>
  <%= form.select :action, options_for_select(card.game.get_actions_list, card.action) %>
  <fieldset>
    <%= form.label :done_at do %>
      <%= form.check_box :done_at, checked: !card.done_at.nil? %>
      <span>Réalisé ?</span>
    <% end %>
  </fieldset>
  <%= form.submit  %>
<% end %>
