<%= form_with(model: card) do |form| %>
  <% if card.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
        <% card.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :game_id, style: "display: block" %>
    <%= form.text_field :game_id %>
  </div>

  <div>
    <%= form.label :player, style: "display: block" %>
    <%= form.text_field :player %>
  </div>

  <div>
    <%= form.label :target, style: "display: block" %>
    <%= form.text_field :target %>
  </div>

  <div>
    <%= form.label :action, style: "display: block" %>
    <%= form.text_field :action %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
