<figure>
  <table>
    <tr>
      <th></th>
      <th><%= Card.human_attribute_name("player") %></th>
      <th><%= Card.human_attribute_name("action") %></th>
      <th><%= Card.human_attribute_name("target") %></th>
      <th>Actions</th>
    </tr>
    <% cards.each do |card| %>
      <tr>
        <td><%= render("cards/toggle_form", card: card) %></td>
        <td>
          <% if card.done? %>
            <ins><%= render 'players/link', player: card.player %></ins>
          <% else %>
            <%= render 'players/link', player: card.player %>
          <% end %>
        </td>
        <td><%= card.action %></td>
        <td>
          <% if card.done? %>
            <del><%= render 'players/link', player: card.target %></del>
          <% else %>
            <%= render 'players/link', player: card.target %>
          <% end %>
        </td>
        <td>
          <ul>
            <li><%= link_to 'Lien de la carte', public_card_path(card.token) %></li>
            <li><%= edit_card_link card %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </table>
</figure>
