<style>
  .container {
    text-rendering: optimizeLegibility !important;
  }

  .card {
    width: 10cm;
    height: 5cm;
    padding: 0.5cm;
    border: 1px dashed black;
    display: inline-block
  }

  .card__title {
    font-weight: bold;
  }
  .card__description {
    width: 6cm;
    display: inline-block;
  }

  .card__qr {
    display: inline-block;
    height: 3.5cm;
    width: 3.5cm;
  }
</style>
<h1><%= game_link @game  %> / <%= t('.title') %></h1>
<% t('.print_help').each do |content| %>
  <p><%= content %></p>
<% end %>
<div class="container">
  <% @cards.each do |card| %>
    <div class="card">
      <p class="card__title">Killer card of <%= card.player.pretty  %></p>
      <table class="card__description">
        <tr>
          <th><%= Card.human_attribute_name("target") %></th>
          <td><%= card.target.pretty %></td>
        </tr>
        <tr>
          <th><%= Card.human_attribute_name("action") %></th>
          <td><%= card.action %></td>
        </tr>
        <tr>
          <th><%= Player.human_attribute_name("secret") %></th>
          <td><%= card.player.secret %></td>
        </tr>
      </table>
      <div class="card__qr">
        <%= qr_code player_dashboard_url(token: card.player.token) %>
      </div>
    </div>
  <% end %>
</div>
