<p style="color: green"><%= notice %></p>
<h1>Bien joué <%= @card.player %>!</h1>
<p>Tu as réussi à faire l'action "<%= @card.action %>" à ta cible: <%= @card.target %>.</p>
<p>Prend vite sa carte et passe à la suite</p>
<h2>Statut du jeu</h2>
<%= render 'games/status', game: @card.game %>
<div>
  <%= link_to "Back to cards", game_path(@card.game) %>
</div>
