<footer class="layout-footer container">
  <div class="grid">
    <div>
      <p><%= t 'layout._footer.sitemap' %></p>
      <ul>
        <li><%= link_to t('pages.help.title'), help_path %></li>
        <li><%= link_to t('pages.actions.title'), actions_path %></li>
        <li><%= switch_lang_link %></li>
      </ul>
    </div>
    <div>
      <p><%= t('layout._footer.external.title') %></p>
      <ul>
        <li><%= link_to t('layout._footer.external.github'), 'https://github.com/madeindjs/killer-game' %></li>
        <li><%= link_to t('layout._footer.external.me'), 'https://rsseau.fr' %></li>
      </ul>
    </div>
  </div>
  <p><small>🍪🚮 <%= t('layout._footer.cookieless') %></small></p>
</footer>
