<!DOCTYPE html>
<html>
  <head>
    <title>🔫 KillerGame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <main class="container">
      <nav>
        <ul>
          <li><strong><%= link_to "🔫 #{t 'application_name'}", root_path %></strong></li>
        </ul>
        <% if user_signed_in? %>
          <ul>
            <li><%= link_to t('games.index.title'), games_path %></li>
            <li><%= link_to t('games.new.title'), new_game_path, role: :button %></li>
          </ul>
        <% else %>
          <ul>
            <li><%= link_to "Se connecter", new_user_session_path %></li>
          </ul>
        <% end %>
      </nav>
      <p class="flash--notice"><%= notice %></p>
      <p class="flash--alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
