<!DOCTYPE html>
<html>
  <head>
    <title>🔫 KillerGame</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <main class="container">
      <%= render 'layouts/navbar' %>
      <p class="flash--notice"><%= notice %></p>
      <p class="flash--alert"><%= alert %></p>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </main>
  </body>
</html>
